/* Main Container */
.container{
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
	display: flex;
	justify-content: center;
  /* background-color: greenyellow; */
  min-height: 200px;
}
.products{
  width: 312px;
  /* background-color: hotpink; */
}
.main{
  width: 750px;
  background-color: gray;
}

/* Products container */
.products-category {
  padding-left: 50px;
  width: 135px;
  border-radius: 0 71px;
  background: linear-gradient(128deg, rgba(255,255,255,1) 0%, rgba(78,214,242,1) 63%, rgba(176,229,240,0.15730042016806722) 100%);
  color: white;
  margin: 0 auto;
}

.front.face{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}
.face.back {
  padding: 10px;
}
.product-img{
  height: 250px;
  width: 308px;
  background-size: auto 220px;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-item {
  width: 263px;
  height: 253px;
  margin: 22px auto;
}
.face {
  height: 253px;
}
/* InstaFeed Container */

.instafeed{
  width: 312px;
  margin: 20px auto;
  overflow: hidden;
  float: right;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #80808069;
  padding: 15px 10px;
  border-radius: 15px;
  height: 625px;
}

.instafeed a img{
  width: 100px;
  height: 100px;
  margin: 2px;
}
.choose-diff-profile {
  display: flex;
  margin-top: 8px;
}
.ig-logo{
  margin: 0 104px;
}
img.ig-profile-icon {
  height: 30px;
  border-radius: 15px;
}
span.ig-profile-name {
  height: 30px;
  line-height: 30px;
  margin-left: 8px;
  font-weight: 600;
}

#instagram-posts {
  margin: 5px 0 0;
}