/* Main Container */
.container{
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
	display: flex;
	justify-content: center;
  /* background-color: greenyellow; */
  min-height: 200px;
}
.products{
  width: 312px;
  background-color: hotpink;
}
.main{
  width: 750px;
  background-color: gray;
}
/* InstaFeed Container */

.instafeed{
  width: 312px;
  margin: 20px auto;
  overflow: hidden;
  float: right;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #80808069;
    padding: 15px 10px;
    border-radius: 15px;
}

.instafeed a img{
  width: 100px;
  height: 100px;
  margin: 2px;
}
.choose-diff-profile {
  display: flex;
  margin-top: 8px;
}
.ig-logo{
  margin: 0 104px;
}
img.ig-profile-icon {
  height: 30px;
  border-radius: 15px;
}
span.ig-profile-name {
  height: 30px;
  line-height: 30px;
  margin-left: 8px;
  font-weight: 600;
}

#instagram-posts {
  margin: 5px 0 0;
}