 @font-face {
    font-family: 'Muli';
    src: URL('fonts/Muli/Muli.ttf') format('truetype');
  }

/***************/
/* GENERAL CSS */
/***************/
* {
	/* font-family: 'Righteous', sans-serif;
    font-family: 'Smythe', sans-serif;
    font-family: 'Yesteryear', sans-serif; */
    /* font-family: 'Abel', sans-serif; */
    /* font-family: 'Droid Serif', serif; */
    box-sizing: border-box;
}
body {
	margin: 0;
    font-family: 'Muli', cursive;
    -webkit-font-smoothing: antialiased;
}
a {
	color: #000;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}

/**** MAIN BODY - Desktop **/
.section{
    max-width: 1290px;
    width: 100%;
    margin: 40px auto 90px;
    overflow: hidden;
}
.section-title{
    padding: 0 16%;
    margin-bottom: 60px;
    justify-content: center;
    align-self: center;
    text-align: center;
}


/* First Section Slider  */

.slider{
    overflow: initial;
}

.welcome-wrapper{
    width: 100%;
    margin: 0px auto;
    text-align: center;
    position: absolute;
    top: 183px;
}
.welcome-wrapper img{
        filter: drop-shadow(9px 10px 5px #222);
        width: 100%;
        max-width: 800px;
}

/* Services */
.services-content {
    display: flex;
    margin: 60px 0;
}
a.service-link {
    width: 25%;
    margin: 10px 30px 10px;
    text-align: center;
    text-decoration: none;
}
.service {
    margin: 10px auto 10px;
    text-align: center;
    opacity: 0.6;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.service:hover{
    opacity: 1;
}

.service h2{
    margin: 15px 0;
}
.service .service-desc{
    color: #696969;
}
.service-image img{
    width: 70px;
    height: 70px;
}
/** Recipes **/
.title-label h6{
    color: #ce9f24;
    font-size: 17px;
    color: #8d735f;
    letter-spacing: .05em;
    font-weight: 400;
}
.title-content h3{
    margin-top: 5px;
    color: #3d3d3d;
    font-family: Muli,sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: .05em;
    line-height: 1.3em;
}
.title-content p{
    color: #696969;
    font-size: 19px;
    margin-top: 17px;
}



/* Products */
#products-section .section-title {
    padding: 0px 15%;
}
.products-gallery {
    /* padding: 4.5% 10px 0; */
}
.product {
    position: relative;
    float: left;
    width: 292px;
    margin: 1%;
    display: flex;
    overflow: hidden;
}
.prd-img{
    width: auto;
    height: 280px;
    position: relative;
    margin: 0 auto;
    padding: 10%;
    text-align: center;
}
.product:hover .prd-txt{
    visibility: visible;
    opacity: 1;
}
.product:hover .prd-txt .prd-title{
     opacity: 1;
}
.prd-txt{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    left: 0;
    padding: 60px;
    background-color: #d2daec;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 1s  ease-out;
    /* transition: opacity .3s ease-out; */
    box-sizing: border-box;
}
.prd-label{
    font-size: 17px;
    color: #8d735f;
    letter-spacing: .05em;
    font-weight: 400;
}
.prd-title{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .1em;
    color: #3d3d3d;
    transform: translateY(10px);
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
    opacity: 0;
}



.gallery-link{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


/* Recepies */

.recepies-gallery {
    padding: 4.5% 10px 0;
}
.recipe {
    position: relative;
    float: left;
    width: 31.3%;
    margin: 1%;
}
.rcp-img-wrp {
    height: 300px;
    overflow: hidden;
    margin-bottom: 30px;
}

.rcp-img {
    margin-top: -44px;
    opacity: 0.7;
    width: 100%;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.recipe:hover .rcp-img{
    opacity: 1;    
}
.rcp-txt{
    text-align: center;
}
.rcp-label{
    font-size: 17px;
    letter-spacing: .05em;
    font-weight: 400;
    color: #ce9f24;
    position: relative;
    font-style: italic;
}
.rcp-title{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .1em;
    color: #3d3d3d;
    line-height: 1.3em;
}
.rcp-title h4 {
    margin: 1rem 0;
}
.rcp-desc{
    padding: 0 12px;
    color: #989898;
}


/* Get in Touch - Contact FOrm */

.form-wrapper{
    width: 100%;
    max-width: 800px;
    margin: 40px auto;
    display: flex;
    box-shadow: 0px 21px 41px -13px rgb(0 0 0 / 18%);
}
.form, .form-flyer{
    width: 50%;
}
.form{
    background-color: #fafafa;
    padding: 22px 30px;
}
.form-flyer{
    background-color: #e4f3eb;
    background-color: #bcbcbc21;
    margin-top: -20px;
    margin-bottom: -20px;
    padding: 42px 30px;
    border-radius: 5px;
}
.form-control {
    font-family: inherit;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    padding-left: 5px;
    margin-bottom: 1rem;
    min-height: 42px;
    background: transparent;
    transition: border-color .15s ease-in-out , box-shadow .15s ease-in-out , -webkit-box-shadow .15s ease-in-out;

}
.form input{
    min-width: 200px;
}

input.form-control:focus, textarea:focus {
    border:none;
    outline: none;
}
.form-flyer p {
    margin: 42px 0;
}
.lbl-title{
    font-weight: 600;
    margin-right: 10px;
}
.lbl-cntnt{
    color: rgba(0,0,0,.8);
}
.submit{
    font-family: inherit;
    box-shadow: 0px 10px 20px -6px rgb(0 0 0 / 22%);
    border: none;
    padding: 12px 16px;
    cursor: pointer;
    border-width: 1px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    margin-bottom: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background: #e4f3eb;
    background-color: #bcbcbc21;
}

/******************************************/
/* Mobile  Responsive View - MOBILE FIRST */
/******************************************/

/* Logo */
.logo {
	display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    color: #666666;

}

.choose{
    height: 50px;
    margin-right: 8px;
}
.diff{
    FONT-WEIGHT: 500;
    height: 50px;
    margin-top: 6px;
}

/* header & Footer */
 /* header */
.header {
	background-color: #fff;
	box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
	position: fixed;
	width: 100%;
	z-index: 3;
    top: 0;
}

.header ul,
.footer ul{
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #fff;
}

.header li a,
.footer li a {
	display: block;
	padding: 25px 24px;
	border-right: 1px solid #f4f4f4;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
	opacity: 0.6;
	box-sizing: content-box;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
    
}

.header li a:hover,
.footer li a:hover,
.header .menu-btn:hover {
/*
	background-color: #b1d7fb26;
	border-radius: 37px;
	border-top: 1px solid #00000096;
	border-bottom: 1px solid #00000096;
	*/
	opacity: 1;
	transition: 0.1s; 
}

li.social-ref{
    text-align: center;
    border-top: 1px solid #7899c326;
    padding: 22px 0;
}
li.social-ref a{
    border: none; 
    display: inline-block;
    padding: 0 4px;
}
li.social-ref a span{
    display: inline-block;
    height: 32px;
    width:  32px;
}

.facebook-icon, .instagram-icon, .email-icon{
    background-size: contain;
    background-repeat: no-repeat;
}
.facebook-icon{
    background-image: url('imgs/facebook-icon.png');
}
.instagram-icon{
    background-image: url('imgs/instagram-icon.png');
}
.email-icon{
    background-image: url('imgs/email-icon.png');
}

.header .logo {
	display: block;
}

.logo {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    color: #666666;
}
.header .logo img {
    min-width: 250px;
    padding: 7px 10px 0px;
    width: 40%;
    max-width: 400px;
    float: left;
}

/* menu */

.header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
}


/* menu icon */

.header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 28px 20px;
	position: relative;
	user-select: none;
}

.header .menu-icon .navicon {
	background: #333;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
	background: #333;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}

.header .menu-icon .navicon:before {
	top: 5px;
}

.header .menu-icon .navicon:after {
	top: -5px;
}


/* menu btn */

.header .menu-btn {
	display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 709px;
}

.header .menu-btn:checked~.menu-icon .navicon {
	background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
	transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
	transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
	top: 0;
}


/* Footer */
    footer{
        bottom: 0;
        width: 100%;
        padding-top: 45px;
        padding-bottom: 45px;
        margin-top: 60px;
        display: block;
        background: #35373C;
        color: rgba(255, 255, 255, 0.7);
        text-align: center;
    }
    .footer ul{
        background-color: transparent;
    }
    .footer li.social-ref{
        text-align: center;
        padding-bottom: 0px;
        padding-bottom: 22px;
        display: inline-block;
        border-top: none;
    }


/***************************/
/* Desktop Responsive View */
/***************************/

@media (min-width: 1000px) {

    .header .logo img {
        min-width: 250px;
        padding: 7px 10px 0px;
        width: auto;
        max-width: none;
        float: none;
    }
    .header{
        box-shadow: none;
        position: relative;
    }
    .header li {
		float: left;
	}
	.header li a {
        margin: 25px 0 0;
        padding: 20px 30px;
        border-right: none;
        min-width: 102px;
        font-size: 20px;
        text-align: center;
	}
	.header .menu {
		clear: none;
        max-height: none;
        display: flex;
        justify-content: center;
        align-self: center;
	}
	.header .menu-icon {
		display: none;
    }
    
    .logo-wrapper {
        display: flex;
        justify-content: center;
        align-self: center;
        height: 50px;
        margin: 35px 0 10px;
        flex-direction: column;
    }
    .social-ref{
        display: none;
    }



    .choose{
        /* border-bottom: 1px solid #2196f361; */
        padding-bottom: 5px;
    }
    .diff{
        /* border-top: 1px solid #2196f361; */
    }

    
}

@media (max-width: 928px) {

    .services-content {
      flex-direction: column;
    }
    a.service-link {
      width: 100%;
      max-width: 300px;
      margin: 25px auto 25px;
    }
    
    .product {
      width: 48%;
    }
    .recipe {
      position: relative;
      float: none;
      width: 100%;
      margin: 1%;
      max-width: 400px;
      margin: 60px auto;
    }
    .form, .form-flyer{
      width: 100%;
      padding-top: 50px;
    }
    .form-wrapper {
      width: 100%;
      max-width: 400px;
      flex-direction: column-reverse;
    }
  }
  
  @media (max-width: 720px) {  
    .product {
      width: 100%;
    }
    .prd-img {
        padding: 6%;
    }
    .product:nth-child(5), .product:nth-child(6), .product:nth-child(7), .product:nth-child(8) {
       display: none;
    }
    .section-title {
        padding: 0 12%;
    }
    .recipe .rcp-img{
        opacity: 0.95;    
    }
    .product{
        flex-direction: column-reverse;
    }
    .prd-txt{
        position: relative;
        visibility: visible;
        opacity: 1;
        width: 100%;
        height: 80px;
        padding: 10px;
        text-align: center;
        background-color: #d2daec6b;
        background: linear-gradient(to right ,transparent 0% , white 10% , #d2daec6b 74%,white 80% , transparent 90%);
        background: linear-gradient(to right ,white 0% , transparent 8% , #d2daec6b 80%,white 90% , transparent 100%);
    }
    .prd-title{
        opacity: 1;
    }
  }
  @media (max-width: 440px){
    .form-wrapper {
        max-width: 95%;
    }
    .lbl-cntnt {
        display: block;
        margin-top: 10px;
    }
    .section-title {
        padding: 0 10%;
    }
  }
  