.container{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}
.container .content{
	position: relative;
	max-width: 800px;
}

.show-recipe{
	position: relative;
	padding: 5px 20px;
	display: inline-block;
	margin-top: 20px;
	text-decoration: none;
	color: #fff;
	background: #111;
}

#blur.active{
	filter: blur(20px);
	pointer-events: none;
	user-select: none;
	overflow-y: hidden;	
}

#popup{
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	padding: 50px;
	box-shadow: 0 5px 30px rgb(0,0,0,.30);
	background: #fff;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
}
#popup.active{
	visibility: visible;
	opacity: 1;
	transition: 0.5s;
	top: 50%
}


.recipe-layout{
	display: flex;
	flex-direction: column;
	width: 600px
}
.recipe-layout-wrapper{
	width: 600px
}
.recipe-header{
	flex-direction: column;
    align-self: center;
    text-align: center;
}
.recipe-body {
    margin-top: 30px;
}

.recipe-category{
	margin: 0 auto;
	width: 150px;
	background-color: #acdbe3;
	color: #fff;
	font-weight: 700;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	font-size: 28px;
}
.recipe-title{
	width: 450px;
	color: black;
	font-size: 40px;
	line-height: 60px;
    border: 3px solid #acdbe3;
    border-radius: 25px;
    font-family: sans-serif;
    font-style: italic;	
}
.recipe-image{ 
	width: 70%;
    height: 280px;
    overflow: hidden;
}
.recipe-image img{
	width: 100%;
}
.recipe-intro{
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
}
.recipe-icons{
	width: 30%;
	 margin-right: 50px;
}
.recipe-icon{
	height: 55px;
    padding: 10px 0px 10px 80px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: 10px 15px;
	
}
.prep-time, .total-time{
    border-bottom: 1px solid #acdbe3;
}
.prep-time{
	background-image: url("imgs/prep-icon.png");
}
.total-time{
	background-image: url("imgs/cooking-icon.png");
}
.serves{
	background-image: url("imgs/serves-icon.png");
}

.recipe-desc {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}
.recipe-ingredients {
    width: 30%;
	 margin-right: 50px;
}
.recipe-ingredients ul{
	padding-left: 20px;
}
.recipe-diractions {
    width: 70%;
}

 