.container{
	position: relative;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	transition: 0.5s;
}
.container .content{
	position: relative;
	max-width: 800px;
}

.show-recipe{
	position: relative;
    padding: 10px 25px;
    display: block;
    width: 120px;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background: #acdbe3;
    text-align: center;
}

#blur.active{
	filter: blur(20px);
	pointer-events: none;
	user-select: none;
	overflow-y: hidden;	
}

#popup{
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	padding: 50px;
	box-shadow: 0 5px 30px rgb(0,0,0,.30);
	background: #fff;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
}
#popup.active{
	visibility: visible;
	opacity: 1;
	transition: 0.5s;
	top: 50%
}


.recipe-layout{
	display: flex;
	flex-direction: column;
	width: 600px
}
.recipe-layout-wrapper{
	width: 600px
}
.recipe-header{
	flex-direction: column;
    align-self: center;
    text-align: center;
}
.recipe-body {
    margin-top: 30px;
}

.recipe-category{
	margin: 0 auto;
	width: 150px;
	background-color: #acdbe3;
	color: #fff;
	font-weight: 700;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	font-size: 28px;
}
.recipe-title{
	width: 450px;
	color: black;
	font-size: 40px;
	line-height: 60px;
    border: 3px solid #acdbe3;
    border-radius: 25px;
    font-family: sans-serif;
    font-style: italic;	
}
.recipe-image{ 
	width: 70%;
    height: 280px;
    overflow: hidden;
}
.recipe-image img{
	width: 100%;
}
.recipe-intro{
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
}
.recipe-icons{
	width: 30%;
	 margin-right: 50px;
}
.recipe-icon{
	height: 55px;
    padding: 10px 0px 10px 80px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: 10px 15px;
	
}
.prep-time, .total-time{
    border-bottom: 1px solid #acdbe3;
}
.prep-time{
	background-image: url("imgs/prep-icon.png");
}
.total-time{
	background-image: url("imgs/cooking-icon.png");
}
.serves{
	background-image: url("imgs/serves-icon.png");
}

.recipe-desc {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}
.recipe-ingredients {
    width: 30%;
	 margin-right: 50px;
}
.recipe-ingredients ul{
	padding-left: 20px;
}
.recipe-diractions {
    width: 70%;
}

.recipe-layout h4{
	margin: 0;
}


/* Recipe Preview */
.recipe-preview{
	width: 300px;
    margin: 30px 50px;
}
.recipe-preview .recipe-category{
	border-top-right-radius: 0;
    border-top-left-radius: 0;
    font-size: 29px;	
}
.recipe-preview .recipe-image{
	width: 100%;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}
.recipe-preview .recipe-title{
	width: 300px;
    color: black;
    font-size: 29px;
}
.recipe-preview .recipe-title.title-m{
	font-size: 23px;
}
.recipe-preview .recipe-title.title-s{
	font-size: 17px;
}
.recipe-preview .recipe-icons, .recipe-preview .recipe-desc{
	display: none;
}
 

/*PopUp adjustments */

#popup .recipe-image{
	    max-height: 250px;
}

/* Mobile Design */
@media (max-width: 48em) {
	#popup.active{
		position: absolute;
		top: 10px;
		left: 3%;
		transform: none;
		width: 90%;
		padding: 30px 7px 20px;
		margin-bottom: 20px;
	}
	.recipe-layout {
		width: auto;
	}
	.recipe-intro{
		flex-direction: column;
		/* flex-direction: column-reverse; */
	}
	#popup.active .recipe-title{
		width: auto;
		font-size: 29px;
		line-height: 40px;
		padding: 10px 0;
		min-width: 300px;
	}
	.recipe-desc{
		flex-direction: column;
		padding: 20px;
	}
	.recipe-intro{
		align-items: center;
	}
	.recipe-icons{
		width: 90%;
   		 margin: 0;
	}
	#popup.active .recipe-image {
		width: 90%;
	}
	.recipe-ingredients, .recipe-diractions{
		width: auto;
	}

}