* {
	font-family: 'Abel', sans-serif;
}

body{
	margin-top: 15px
}

.logo-wrapper {
	display: flex;
	justify-content: center;
	align-self: center;
  height: 50px;
  margin-top: 20px;
	flex-direction: column;
}

.logo {
	display: flex;
    justify-content: center;
    align-self: center;
    font-style: italic;
    font-size: 42px;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
    color: black;

}

.choose{
    border-bottom: 1px solid #2196f361;
    height: 50px;
    margin-right: 8px;
    padding-bottom: 11px;
}
.diff{
    FONT-WEIGHT: 500;
    height: 50px;
    margin-top: 6px;
    border-top: 1px solid #2196f361;
}
.header-nav-wrapper {
	width: 100%;
	display: flex;
	margin-top: 20px;
}

.header-nav {
	width: 100%;
	display: flex;
	justify-content: center;
	align-self: center;
	flex-direction: row;
	padding: 0;
}

.header-nav-item {
	list-style: none;
    width: 200px;
    color: #100e0ec4;
    font-size: 22px;
	text-align: center;
}

.header-nav-item:hover {
	color: #696969;
}

article{
    margin: 0 auto;
    padding: 30px 20px 0;
    /* -webkit-box-sizing: content-box; */
    box-sizing: content-box;
    width: 1000px;

}


/* Product - Images Cards */

.products-gallery{
	/* flex-direction: column; */
	/* padding-bottom: 0px; */
	/* padding-top: 0px; */
	position: relative;
	margin: 40px auto;
	width: 1000PX;
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
	flex-wrap: wrap;
	height: 1000px;
	/* z-index: 1; */
}

.gallery-row{
	-webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.gallery-item{
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 0%;
	-ms-flex: 1 0 0%;
	flex: 1 0 0%;
	display: block;
	position: relative;
	width: 100%;
	margin: 14px;
  flex: 1 0 29%;
  margin: 2%;
  height: 293px;
  transform-style: preserve-3d;
  transition: all 1.0s 0.2s;
}

.cards_container {
  position: relative;
  margin: 40px auto;
  width: 1000PX;
	display: flex;
  height: 283px;
  z-index: 1;
}

 .card:hover{
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
 
}
.face {
  position: absolute;
  width: 100%;
  height: 293px;
  backface-visibility: hidden;
  overflow: hidden;
  text-decoration: none;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: black;
  text-align: center;
  background-color: white;
  border: 1px solid #0000004f;
}

article .products-gallery img{
	max-width: 340px;
}

article .product-img{
  width: 100%;
  height: 283px;
    background-repeat: no-repeat;
  background-position: center center;
  background-size: 85%;

}
article .product-img.cover{
	background-size: cover;
}
article .product-img.contain{
	background-size:contain;
}
article .product-link{
	 font-family: sans-serif;
    text-decoration: underline;
    color: #0000EE;
    letter-spacing: 0.7px;
    position: absolute;
    width: 283px;
    bottom: 50px;
    text-align: center;
}

@media screen and (max-width: 440px)  { 
  .gallery-item {
    flex: 1 0 46%;
  }
}
/* Product - Images Cards END */


/** About Page **/
article.about-page{
  width: 1060px;
}
.about{
  display: flex;
  flex-wrap: wrap;
  font-size: 17px;
}
.about-photo{
  flex: 0 30%;
}
.about-photo img{
  padding-top: 5px;
  width: 100%;
}
.about-text{
  flex: 0 70%;
}
.break {
  flex-basis: 100%;
  height: 0;
}

.about-text p{
  padding: 0  0 0 24px;
    margin-top: 0;
    line-height: 23px;
    letter-spacing: 0.5px;
    text-align: justify;
}