* {
	font-family: 'Open Sans Condensed', sans-serif;
}

body{
	margin-top: 15px
}

.logo-wrapper {
	display: flex;
	justify-content: center;
	align-self: center;
	height: 50px;
	flex-direction: column;
}

.logo {
	display: flex;
    justify-content: center;
    align-self: center;
    font-style: italic;
    font-size: 42px;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
    color: black;

}

.choose{
    border-bottom: 1px solid #2196f361;
    height: 50px;
    margin-right: 8px;
    padding-bottom: 11px;
}
.diff{
    FONT-WEIGHT: 500;
    height: 50px;
    margin-top: 6px;
    border-top: 1px solid #2196f361;
}
.header-nav-wrapper {
	width: 100%;
	display: flex;
	margin-top: 20px;
}

.header-nav {
	width: 100%;
	display: flex;
	justify-content: center;
	align-self: center;
	flex-direction: row;
}

.header-nav-item {
	list-style: none;
    width: 200px;
    color: #100e0ec4;
    font-size: 22px;
	text-align: center;
}

.header-nav-item:hover {
	color: #696969;
}